.socials {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	width: 100%;
	padding: min(1rem, 3%);
	background-color: var(--bg);
	border-top: var(--border) solid 1px;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
/* ------ RESPONSIVE DESIGN ------ */
/* ------ TABLETS & PHONES ------ */
@media only screen and (max-width: 768px) {
	.socials {
		position: sticky;
		bottom: 0;
		z-index: 10;
	}
}
