/* ------ PDF PRINTING ------ */
.printing * {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.printing body {
  background: white;
}

.printing .top-container {
  display: none;
}

.printing .subtitle {
  color: var(--border);
  font-size: 4rem;
}

.printing .receipt-container {
  background: white;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.printing .item-name,
.printing .item-count,
.printing .item-price {
  color: var(--muted);
}

.printing .receipt-item {
  color: var(--muted);
  margin-top: -4%;
}

.printing .bar {
  background: white;
  border-bottom: var(--muted) solid 2px;
  border-radius: 0%;
  width: 86%;
  margin-bottom: 3rem;
  margin-left: 7%;
}

.printing .order,
.printing .message {
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  color: var(--border);
}

.printing .print {
  display: none;
}

.printing hr,
.printing .column-line {
  background: var(--border);
}

.printing .receipt-total {
  color: var(--muted);
}

.printing .receipt-amount {
  color: var(--muted);
}

.printing .socials {
  display: none;
}
