.receipt-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 90%;
  min-height: 30%;
  margin: auto;
  padding-top: min(2rem, 2%);
  padding-bottom: min(2rem, 2%);
}
.image-box {
  text-align: center;
  margin-right: auto;
  margin-left: 11%;
}
.image-box img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.about {
  margin-left: 14%;
}
.item-name,
.item-count,
.item-amount {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--text);
}
.item-name {
  line-height: 10px;
}
.item-count {
  text-align: center;
}
.receipt-cost {
  text-align: right;
  margin-right: 10%;
  margin-top: 0;
}

/*------ RESPONSIVE DESIGN ------*/
/* ------ TABLETS ------ */
@media only screen and (max-width: 768px) {
  .image-box img {
    width: 3rem;
    height: 3rem;
  }
}
/* ------ PHONES ------*/
@media only screen and (max-width: 480px) {
  .receipt-item {
    grid-template-columns: 0 0.5fr 0.5fr 0.5fr;
  }
  .image-box img {
    display: none;
  }
  .item-name {
    font-size: 1rem;
    margin-right: auto;
    margin-left: -9%;
  }
  .item-count {
    font-size: 0.8rem;
  }
  .item-amount {
    font-size: 1rem;
    margin-right: auto;
    margin-left: 10%;
  }
}

.receipt-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  width: 90%;
  min-height: 30%;
  margin: auto;
  padding-top: min(2rem, 2%);
  padding-bottom: min(2rem, 2%);
}
.image-box {
  text-align: center;
  margin-right: auto;
  margin-left: 11%;
}
.image-box img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
}
.about {
  margin-left: 14%;
}
.item-name,
.item-count,
.item-amount {
  font-weight: 300;
  font-size: 1.5rem;
  color: var(--muted);
}
.item-name {
  line-height: 10px;
}
.item-count {
  text-align: center;
}
.receipt-cost {
  text-align: right;
  margin-right: 10%;
  margin-top: 0;
}

/*------ RESPONSIVE DESIGN ------*/
/* ------ TABLETS ------ */
@media only screen and (max-width: 768px) {
  .image-box img {
    width: 3rem;
    height: 3rem;
  }
}
/* ------ PHONES ------*/
@media only screen and (max-width: 480px) {
  .receipt-item {
    grid-template-columns: 0 0.5fr 0.5fr 0.5fr;
  }
  .image-box img {
    display: none;
  }
  .item-name,
  .item-count,
  .item-amount {
    font-size: 1rem;
  }
  .item-name .item-amount {
    margin-right: auto;
  }
  .item-name {
    margin-left: -9%;
  }
  .item-amount {
    margin-left: -10%;
  }
}
