/* ------ SLIDESHOW ------ */
.slideshow-container {
  margin: 0 auto;
  width: 80%;
}
#tagline {
  font-family: "IBM Plex Sans";
  text-align: center;
  font-style: italic;
  font-size: 4rem;
  margin: 4rem 4rem;
}

#info {
  text-align: center;
  font-size: 2rem;
  margin: 4rem 4rem;
}
#slideshow {
  overflow: hidden;
  position: relative;
  width: 85%;
  aspect-ratio: 16/9;
  margin: 0 auto;
  border-radius: 10px;
}

#slideshow .list {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: max-content;
  display: flex;
}

.list figure {
  margin: 0 auto;
  aspect-ratio: 16/9;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrows {
  position: absolute;
  top: 42%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.arrows button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--arrows);
  color: var(--text);
  border: none;
  font-family: "JetBrains Mono";
  font-size: 2rem;
  transition: ease 500ms;
}

.arrows button:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.dots {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  height: 3rem;
  bottom: 1rem;
  box-sizing: border-box;
}

.dots li {
  list-style: none;
  background-color: var(--arrows);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border-radius: 40px;
  display: inline-block;
  transition:
    background-color ease 500ms,
    width 0.5s;
}

.dots li.active {
  width: 5rem;
}

.dots li.active:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/* ------ RESPONSIVE DESIGN ------ */
@media only screen and (max-width: 1280px) {
  .slideshow-container {
    width: 100%;
  }
  #slideshow {
    width: 90%;
  }
  #tagline {
    font-size: 3rem;
  }
  #info {
    font-size: 1.8rem;
  }
  .arrows button {
    width: 8rem;
    height: 8rem;
    font-size: 5rem;
  }
  .dots {
    margin: 2rem;
  }
  .dots li {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .slideshow-container {
    width: 100%;
  }
  #slideshow {
    width: 90%;
  }
  #tagline {
    font-size: 2rem;
  }
  #info {
    font-size: 1.8rem;
  }
  .arrows button {
    width: 6rem;
    height: 6rem;
    font-size: 2rem;
  }
  .dots {
    margin: 1rem;
  }
  .dots li {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .slideshow-container {
    width: 100%;
  }
  #slideshow {
    width: 90%;
  }
  #tagline {
    font-size: 2rem;
    margin: 2rem 2rem;
  }
  #info {
    font-size: 1.2rem;
    margin: 2rem 2rem;
  }
  .arrows button {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
  }
  .dots {
    margin: 0.5rem;
  }
  .dots li {
    width: 2rem;
    height: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .slideshow-container {
    width: 100%;
  }
  #slideshow {
    width: 90%;
  }
  #tagline {
    font-size: 1.2rem;
    margin: 2rem 2rem;
  }
  #info {
    font-size: 0.8rem;
    margin: 2rem 2rem;
  }
  .arrows button {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
  .dots li {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 375px) {
  .slideshow-container {
    width: 100%;
  }
  #slideshow {
    width: 90%;
  }
  #tagline {
    font-size: 1.2rem;
    margin: 2rem 2rem;
  }

  #info {
    font-size: 0.8rem;
    margin: 2rem 2rem;
  }
  .arrows button {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
  }
  .dots li {
    margin-top: 2rem;
  }
}
