.statistics {
  width: 100%;
  margin-top: min(1rem, 1%);
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: clamp(1rem, 1vw + 0.2rem, 3rem);
}
/* ------ RESPONSIVE DESIGN ------ */
/* ------ DESKTOPS - PHONES ------ */
@media only screen and (max-width: 1280px) {
  .statistics {
    width: 95%;
    margin: 0 auto;
    margin-top: min(1rem, 1%);
    margin-bottom: 3rem;
  }
  .stats {
    font-size: calc(1vw + 0.6rem);
  }
}
