/* ------ GUI ------ */
.gui {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  flex: 1;
}
/* ------ STORY SECTION ------ */
.story-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: var(--border) solid 1px;
  margin-top: auto;
}

.sub-heading {
  font-size: 4rem;
  margin: 3rem;
  font-family: "IBM Plex Sans";
}
.story {
  display: flex;
  width: 80%;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.ethos {
  width: 50%;
  font-size: 2rem;
}
.roaster {
  width: 50%;
  height: 65vh;
  object-fit: cover;
  border-radius: 10px;
}
/* ------ OPENING HOURS ------ */
.hours-container {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: var(--border) solid 1px;
  margin-top: auto;
}
.opening-container {
  width: 80%;
  text-align: center;
}
.times {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 4rem;
}
/* ------ RESPONSIVE DESIGN ------ */
/* ------ DESKTOPS ------ */
@media only screen and (max-width: 1280px) {
  .sub-heading {
    font-size: 4rem;
    margin: 2rem;
  }
  .story {
    margin: 2rem;
    width: 100%;
    margin-bottom: 3rem;
  }
  .ethos {
    font-size: 1.8rem;
  }
  .roaster {
    height: 50vh;
  }
  .times {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }
}
/* ------ LAPTOPS ------ */
@media only screen and (max-width: 1024px) {
  .sub-heading {
    font-size: 3rem;
    margin: 2rem;
  }
  .story {
    margin: 1rem;
    width: 100%;
    margin-bottom: 3rem;
    gap: 1rem;
  }
  .ethos {
    font-size: 1.5rem;
  }
  .roaster {
    height: 25vh;
  }
  .times {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
}
/* ------ TABLETS ------ */
@media only screen and (max-width: 768px) {
  .sub-heading {
    font-size: 2.5rem;
    margin: 1rem;
  }
  .story {
    margin: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    gap: 1rem;
  }
  .ethos {
    font-size: 1.2rem;
  }
  .roaster {
    height: 30vh;
  }
  .times {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
/* ------ PHONES ------ */
@media only screen and (max-width: 480px) {
  .sub-heading {
    font-size: 2rem;
    margin: 1rem;
  }
  .story {
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    width: 100%;
    gap: 1rem;
  }
  .ethos {
    font-size: 0.7rem;
  }
  .roaster {
    height: 18vh;
  }
  .times {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
/* ------ SMALL PHONES ------ */
@media only screen and (max-width: 375px) {
  .sub-heading {
    font-size: 2rem;
    margin: 1rem;
  }
  .story {
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    width: 100%;
    gap: 1rem;
  }
  .ethos {
    font-size: 0.6rem;
  }
  .roaster {
    height: 20vh;
  }
  .times {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
