/* ------ BEANS AND GEAR PAGES ------ */
.details {
  margin: 5% 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.itemnames {
  font-weight: 300;
  font-size: 2rem;
}
.prices {
  font-weight: 200;
  font-size: 2rem;
}
#product-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.products {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.products img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
/* ------ MORE INFO OVERLAY ------ */
.caption-container {
  width: 90%;
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
}
.caption {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transform: translateY(100%);
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caption-container:hover .caption {
  transform: translateY(0%);
}

.more {
  color: #fffdfa;
  font-family: "JetBrains Mono";
  font-size: 5em;
  text-align: center;
  text-decoration: none;
}
.more:hover {
  color: var(--hover);
}

/* ------ RESPONSIVE DESIGN ------ */
/* ------ DESKTOPS ------ */
@media only screen and (max-width: 1280px) {
  .itemnames {
    font-size: 2rem;
    margin-bottom: -2%;
  }
  .prices {
    font-size: 1.5rem;
    margin-top: 1em;
    padding-bottom: 3%;
  }
  .more {
    font-size: 5rem;
  }
  #product-container {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
  }
  .caption-container img {
    width: 100%;
    height: 100%;
  }
}
/* ------ LAPTOPS ------ */
@media only screen and (max-width: 1024px) {
  .itemnames {
    font-size: 2rem;
  }
  .prices {
    font-size: 1.5rem;
    padding-bottom: 3%;
  }
  .more {
    font-size: 3rem;
  }
  #product-container {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
  }
  .caption-container img {
    width: 100%;
    height: 100%;
  }
}
/* ------ TABLETS ------ */
@media only screen and (max-width: 768px) {
  .itemnames {
    font-size: 1rem;
  }
  .prices {
    font-size: 0.9rem;
    padding-bottom: 3%;
  }
  .more {
    font-size: 2rem;
  }
  #product-container {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    padding-right: 2%;
  }
  .caption-container img {
    width: 100%;
    height: 100%;
  }
}
/* ------ PHONES ------*/
@media only screen and (max-width: 480px) {
  .itemnames {
    font-size: 1rem;
  }
  .prices {
    font-size: 0.8rem;
    padding-bottom: 1.5%;
  }
  .more {
    font-size: 1rem;
  }
  #product-container {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-right: 1%;
  }
}
