/* ------ BEANS AND EQUIPMENT PAGES ------ */
.information {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 1rem;
}

#items {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.itemnames {
  font-weight: 300;
  font-size: 2rem;
  color: var(--text);
}

.prices {
  font-weight: 200;
  font-size: 2rem;
  color: var(--muted);
}

#product-wrapper {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.products {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.products img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* ------ MORE INFO OVERLAY ------ */
.caption-container {
  width: 90%;
  aspect-ratio: 4 / 3;
  position: relative;
  overflow: hidden;
}

.caption {
  position: absolute;
  inset: 0;
  background-color: var(--t-window);
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption-container:hover .caption {
  transform: translateY(0%);
}

.more {
  color: var(--text);
  font-family: "JetBrains Mono";
  font-size: 5em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.more:hover {
  color: var(--hover);
}

/* ------ RESPONSIVE DESIGN ------ */
/* ------ DESKTOPS ------ */
@media only screen and (max-width: 1280px) {
  #product-wrapper {
    width: 100%;
  }
  .itemnames {
    font-size: 2rem;
  }
  #items {
    font-size: 2rem;
  }
  .prices {
    font-size: 1.8rem;
  }
  .more {
    font-size: 5rem;
  }
}
/* ------ LAPTOPS ------ */
@media only screen and (max-width: 1024px) {
  #product-wrapper {
    width: 100%;
  }
  .itemnames {
    font-size: 2.5rem;
  }
  #items {
    font-size: 2.5rem;
  }
  .prices {
    font-size: 2rem;
    padding-bottom: 3%;
  }
  .more {
    font-size: 3rem;
  }
}
/* ------ TABLETS ------ */
@media only screen and (max-width: 768px) {
  #product-wrapper {
    width: 100%;
  }
  .itemnames {
    font-size: 1.5rem;
  }
  #items {
    font-size: 1.5rem;
  }
  .prices {
    font-size: 1.5rem;
  }
  .more {
    font-size: 2rem;
  }
}
/* ------ PHONES ------ */
@media only screen and (max-width: 480px) {
  #product-wrapper {
    width: 100%;
  }
  .products {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .itemnames {
    font-size: 1rem;
  }
  #items {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .prices {
    font-size: 1rem;
  }
  .more {
    font-size: 1rem;
  }
}
/* ------ SMALL PHONES ------ */
@media only screen and (max-width: 375px) {
  #product-wrapper {
    width: 100%;
  }
  .products {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .information {
    margin: 0.5rem;
  }
  .itemnames {
    font-size: 1rem;
  }
  #items {
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  .prices {
    font-size: 0.8rem;
  }
  .more {
    font-size: 1rem;
  }
}
